$footer-color: #686de0;
$page-color: #c3cfe2;
$text-color: #fff;
$website-color: #a6a8dd; 

$socialmedia: 
    twitter #00aced "\f099",
    linkedin #007bb6 "\f0e1",
    facebook #3b5998 "\f39e",
    github #333 "\f09b";